<html>
<head>
<link rel="stylesheet" type="text/css" href="libraries/angular-bootstrap-colorpicker/css/colorpicker.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css">
<link rel="stylesheet" type="text/css" href="https://material.angularjs.org/1.1.1/docs.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
	<script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0/angular-material.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.js"></script>
	<script  type="text/javascript"src="app.js"></script>
	<script  type="text/javascript"src="IndexController.js"></script>

</head>
<body ng-app="BTS" ng-controller="IndexController">
	<!-- <div ng-repeat="player in players">
	Pitcher: <input ng-model="player.pitcher"> Batter: <input ng-model="player.batter">
</div>
	<button ng-click="submit()">Submit</button>
	<button ng-click="add()">Add</button>
	{{result}}
</body> -->
<canvas id="graph"></canvas>
</html>
